<div style="width: 70vw; margin: 1vh auto;">
  <%= render 'user_card', user: @user %>
  <%= link_to request_friendship_path(@user), method: :post, class: 'friendship-link' do %>
    <i class="fas fa-user-plus"></i>
  <% end %>
</div>
