<h1>Homepage</h1>
<div class="is-full-height mb-15px p-15px">
  <div data-context-key="5dra3zmo1bj">
    <p class="m-0 text-base">JavaScript</p>
    <div data-context-key="0jdzf9s3e4vh"><pre class="p-2 my-2 border overflow-x-auto" lang="javascript"><code><span class="cm-keyword">function</span> <span class="cm-def">arithmetic</span>(<span class="cm-def">a</span>, <span class="cm-def">b</span>, <span class="cm-def">operator</span>){
    <span class="cm-keyword">switch</span> (<span class="cm-variable-2">operator</span>) {
      <span class="cm-keyword">case</span> <span class="cm-string">'add'</span> : <span class="cm-keyword">return</span> <span class="cm-variable-2">a</span> <span class="cm-operator">+</span> <span class="cm-variable-2">b</span>;
        <span class="cm-keyword">case</span> <span class="cm-string">'subtract'</span> : <span class="cm-keyword">return</span> <span class="cm-variable-2">a</span> <span class="cm-operator">-</span> <span class="cm-variable-2">b</span>;
        <span class="cm-keyword">case</span> <span class="cm-string">'multiply'</span> : <span class="cm-keyword">return</span> <span class="cm-variable-2">a</span> <span class="cm-operator">*</span> <span class="cm-variable-2">b</span>;
        <span class="cm-keyword">case</span> <span class="cm-string">'divide'</span> : <span class="cm-keyword">return</span> <span class="cm-variable-2">a</span> <span class="cm-operator">/</span> <span class="cm-variable-2">b</span>;
      }
    }</code></pre></div>
  </div>
  <div data-context-key="rmhrutliw8g">
    <p class="m-0 text-base">Ruby</p>
    <div data-context-key="rc9xqye3ye"><pre class="p-2 my-2 border overflow-x-auto" lang="ruby"><code><span class="cm-keyword">def</span> <span class="cm-def">arithmetic</span>(<span class="cm-variable">a</span>, <span class="cm-variable">b</span>, <span class="cm-variable">operator</span>)
    <span class="cm-keyword">case</span> <span class="cm-variable">operator</span>
      <span class="cm-keyword">when</span> <span class="cm-string">'add'</span>; <span class="cm-variable">a</span> <span class="cm-operator">+</span> <span class="cm-variable">b</span>
      <span class="cm-keyword">when</span> <span class="cm-string">'subtract'</span>; <span class="cm-variable">a</span> <span class="cm-operator">-</span> <span class="cm-variable">b</span>
      <span class="cm-keyword">when</span> <span class="cm-string">'multiply'</span>; <span class="cm-variable">a</span> <span class="cm-operator">*</span> <span class="cm-variable">b</span>
      <span class="cm-keyword">when</span> <span class="cm-string">'divide'</span>; <span class="cm-variable">a</span> <span class="cm-operator">/</span> <span class="cm-variable">b</span>
    <span class="cm-keyword">end</span>
    <span class="cm-keyword">end</span></code></pre></div>
  </div>
</div>
