<h1 style="margin: 0;">Pages#home</h1>
<div class="container">
  <% if user_signed_in? %>
    katas completés : <%= current_user.katas.count %>
    <br>
    <br>
    <br>
    <br>
    katas :
    <ol style="line-height: 0.2rem;">
      <% current_user.katas.each do |kata| %>
        <li>
          <p>
            <%= kata.title %> <%= link_to "build", build_kata_path(kata), method: :patch %> - <em><%= kata.solutions.count %> solutions</em>
          </p>
        </li>
      <% end %>
    </ol>
  <% end %>

</div>
