<div class="container">
  <% if user_signed_in? %>
    <h1 style="margin: 0;">Codewars ninja : <%= current_user.codewars_nickname %></h1>
    <h2>katas completés : <%= current_user.katas.count %></h2>
    <br>
    <br>
    <br>
    <br>
    <div class="katas-container">
      <% @katas.each do |kata| %>
        <%= render 'katas/kata_card', kata: kata %>
      <% end %>
    </div>
    </ol>
  <% end %>

</div>

<style>
  .katas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
