.kata-card-link-wrapper {
  color: rgba(20, 20, 20, 1);
  transition: all ease 0.1s;
  &:hover {
    scale: 1.05;
    color: rgba(50, 50, 50, 1);
  }
}

.kata-card {
  width: 250px;
  height: 40px;
  border: 1px solid rgba(200, 45, 89, 0.2);
  border-radius: 3px;
  padding: 1rem;
  margin: 0.1rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.kata-card-infos {
  /*height: 70%;*/
}

.kata-card-ctas {
  /*height: 30%;*/
}
