$navbar-user-infos-width: 15vw;
$navbar-content-width: 75vw;

.navbar {
  position: sticky;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100vw;
  height: $navbar-height;
  z-index: 99999;
}

.navbar-content-wrapper {
  background-color: hsl(0, 0%, 14.9%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  border-radius: 0 0 10px 0;
  // width: $navbar-content-width;
}

.navbar-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  a {
    color: white;
    text-decoration: none;
    background: hsla(0, 0%, 100%, 0.2);
    padding: 15px 30px;
    border-radius: 7px;
    transition: all ease 0.2s;
    &:hover {
      scale: 1.01;
      background: hsla(0, 0%, 100%, 0.4);
    }
  }
}

.navbar-user-infos::after {
  content: '';
  height: 100%;
  width: $navbar-user-infos-width;
  background: rgba(255, 255, 255, 0.1);
  display: block;
  border-radius: 0 0 0 10px;
  transition: all ease 0.2s;
  position: absolute;
  top: 0;
  opacity: 0;
}

.navbar-user-infos:hover::after {
  opacity: 1;
}

.navbar-user-infos {
  min-width: 100px;
  width: $navbar-user-infos-width;
  border-radius: 0 0 0 10px;
  text-decoration: none;
  h2 {
    color: white;
    font-weight: 800;
    margin: 5% auto;
    text-align: center;
  }
  h6 {
    color: white;
    font-weight: 100;
    text-align: center;
    margin: 5% auto;
  }

  &.user-color-white {
    background-color: hsl(0, 0%, 90%);
  }

  &.user-color-yellow {
    background-color: hsl(45, 85%, 50%);
  }

  &.user-color-blue {
    background-color: hsl(209, 51%, 48%);
  }

  &.user-color-purple {
    background-color: hsl(257, 45%, 60%);
  }

  &.user-color- {
    background-color: hsl(3, 56%, 70%);
  }
}
