@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.user-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 5px;
  overflow: hidden;
  width: 80vw;
}

.user-card h6 {
  opacity: 0.6;
  margin: auto 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.user-card h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}

.user-card-level {
  color: #fff;
  padding: 20px 30px;
  max-width: 250px;
  min-width: 130px;
}

.user-card-level a {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 30px;
  text-decoration: none;
}

.user-card-info {
  padding: 20px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.user-color-white {
     .user-card-level {
      background-color: hsl(0, 0%, 90%);
  }
}

.user-color-yellow {
     .user-card-level {
      background-color: hsl(45, 85%, 50%);
  }
}

.user-color-blue {
     .user-card-level {
      background-color: hsl(209, 51%, 48%);
  }
}

.user-color-purple {
     .user-card-level {
      background-color: hsl(257, 45%, 60%);
  }
}

.user-color- {
     .user-card-level {
      background-color: hsl(3, 56%, 70%);
  }
}
